<div>
    <h3 class="text-primary p-3">Another Chiled Component</h3>
    <input id="nametemp" placeholder="@Placeholder"/>
</div>
@code {
    [Parameter]
    public string Placeholder { get; set; } = "Intial text";
}
