<div class="row">
    <h2 class="text-primary pl-4 pt-2 col-12">Grand Child Component</h2>
    <p>There is a Message:- @MessageFromGrand </p>
</div>

@code {
     [Parameter]
    public string MessageFromGrand{ get; set; }
}
